.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ✅ 가장 위로 올림 */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.option {
  border-top: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.selected {
  color: red;
  font-weight: bold;
}
