.emptyBox {
  position: relative;
}

.emptyWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.emptyImage {
  display: block;
  margin: 0 auto;
  width: 375px;
  height: 182px;
  text-align: center;
}

.emptyText {
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  text-align: center;
  margin-top: 8px;
}
