/* 지붕 css */
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0 16px;
}

.semicircle {
    flex: 1 0 40px;
    /* 최소 40px 너비로 균등 배치 */
    height: 40px;
    border-radius: 0 0 100% 100%;
}

.red {
    background-color: #f44;
}

.blue {
    background-color: #44f;
}