:global(*) {
  font-family: 'Pretendard Variable', sans-serif;
}

/* 헤더 */
.header {
  width: 100%;
  max-width: 1198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.create-button {
  background-color: #3f51f5;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

/* 검색창 */
.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1199px;
  height: 55px;
  border-radius: 49px;
  border: 1px solid #dddcdf;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.input {
  border: none;
  font-size: 16px;
  color: #888790;
  width: 100%;
  background: transparent;
  outline: none;
}

/* 필터 */
.filter {
  width: 100%;
  max-width: 1199px;
  display: flex;
  align-items: center;
  margin: 40px auto;
}

.filter-detail {
  font-size: 18px;
}

/* 카드 리스트 컨테이너 */
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 587px); /* 데스크탑: 카드 2개 고정 */
  gap: 24px;
  justify-content: center; /* 가운데 정렬 */
  margin: 0 auto;
  padding-bottom: 80px;
}

/* 태블릿: 카드 1개 */
@media (max-width: 1024px) {
  .main-container {
    grid-template-columns: 696px;
  }
}

/* 모바일: 카드 1개 */
@media (max-width: 767px) {
  .main-container {
    grid-template-columns: 344px;
  }
}
