.empty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px; /* 적절한 높이 조정 가능 */
}

.empty-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.empty-image {
  display: block;
  margin: 0 auto;
  width: 375px;
  height: 182px;
}

.empty-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  text-align: center;
  margin-top: 8px;
}
