.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ✅ 가장 위로 올림 */
}

.modal {
  background: white;
  padding: 40px 20px;
  border-radius: 16px;
  width: 375px;
  height: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.option {
  border-top: 1px solid #eee;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.option span {
  font-size: 16px;
  color: ;
}

.selected {
  color: red;
  font-weight: bold;
}
/* 버튼 X 모양 수정 */
.button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 23px;
  height: 23px;
  font-weight: bold;
  opacity: 0.8;
}

/* x버튼에 마우스 포인터 가져가면 진하게 */
.button:hover {
  opacity: 1;
}

.filter-button {
  width: 20px; /* 너비 설정 */
  height: 20px; /* 높이 설정 */
  margin-left: 8px; /* (선택) 텍스트랑 간격 */
}
